In [1]:
#this is my first prog
print('this is my first python program')

this is my first python program

In [3]:
print (" this is my first program")

 this is my first program

In [10]:
#my name is sudh 
"""FAFASFSAFSAFASFASFASFSDFASF
ASDFASF
ASDFASDF
"""

'FAFASFSAFSAFASFASFASFSDFASF\nASDFASF\nASDFASDF\n'

In [5]:
"""print("fsdfsdfs")
print("Fsdfsfs\FSDFSAFASFASDDF)
print("sdfsfsdf")"""

'print("fsdfsdfs")\nprint("Fsdfsfs\\FSDFSAFASFASDDF)\nprint("sdfsfsdf")'

In [6]:
afsdf = 10

In [7]:
afsdf

10

In [11]:
type(afsdf)

int

In [12]:
b = '34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df'

In [13]:
type(b)

str

In [14]:
b

'34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df'

In [17]:
print(b , "afsdf")

34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df afsdf

In [18]:
a = 45
b = "srk "

In [19]:
a,b

(45, 'srk ')

In [20]:
print(a,b)

45 srk

In [21]:
a, b  , s = 45 , "srk" , "this is my name "

In [22]:
a

45

In [23]:
b

'srk'

In [24]:
s

'this is my name '

In [25]:
type(a)

int

In [26]:
type(b)

str

In [27]:
type(s)

str

In [28]:
print(a,b,s)

45 srk this is my name

In [29]:
b  = '"fsdf"'

In [30]:
b

'"fsdf"'

In [31]:
print(b)

"fsdf"

In [34]:
_b = "hghg"

In [36]:
_b

'hghg'

In [37]:
B ="hjhg"

In [38]:
B

'hjhg'

In [39]:
1b = 3215645

SyntaxError: invalid syntax (Temp/ipykernel_15188/3309275161.py, line 1)

In [40]:
b& = 564

SyntaxError: invalid syntax (Temp/ipykernel_15188/3731183111.py, line 1)

In [53]:
name = "shahrukh khan" 
userid = 5465
password = "in52564"
email = "srkpathan9044@gmail.com"

In [47]:
a

45

In [45]:
name

'shahrukh khan'

In [46]:
userid

5465

In [54]:
a = 1.6

In [55]:
type(a)

float

In [56]:
a= True
b=False

In [57]:
a

True

In [58]:
type(a)

bool

In [59]:
a= true
b=false

NameError: name 'true' is not defined

In [60]:
print(True + True + True + False + True  )
print(False - True+ True )

4
0

In [61]:
True + True -False

2

In [62]:
True / False

ZeroDivisionError: division by zero

In [64]:
n  = 45 + 6j # 45 is a real part,6 is a imaginary part,j is notation for imagenary part,j is only nbotation in python programming not other value like abhgsdf not notation
m = 56 + 8j

In [65]:
type(n) #comnination is complex part

complex

In [66]:
n

(45+6j)

In [67]:
n.real # self upcasting

45.0

In [71]:
n.imag

6.0

In [72]:
n*m

(2472+696j)

In [73]:
b = "sdf"
type(b)

str

In [74]:
1+ "sudh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [76]:
"1"+ "sudh" # that is called the concatination operation

'1sudh'

In [77]:
1+ 5.25 # that is called upcasting

6.25

In [78]:
"srk"+"srk"+"srk"

'srksrksrk'

In [80]:
"srk" * 3

'srksrksrk'

In [81]:
"srk"/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [82]:
"srk" - "srk"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [83]:
int("25")

25

In [84]:
int("hjgg")

ValueError: invalid literal for int() with base 10: 'hjgg'

In [85]:
str("hgvyf")

'hgvyf'

In [86]:
int("34645ghffyb")

ValueError: invalid literal for int() with base 10: '34645ghffyb'

In [87]:
a = 10

In [ ]:
a = input("enter a interger ") # input is a inbuilt function in python and is for when we wanna to input data by user,by which able to take a input from the user

In [88]:
a = input()

jkdfhvuh

In [89]:
a

'jkdfhvuh'

In [91]:
a = input("enter a integer")

enter a integer24551

In [92]:
a

'24551'

In [93]:
type(a)

str

In [112]:
a = int(input())
b = int(input())
c = int(input())

56
655
99

In [113]:
a

56

In [114]:
b

655

In [115]:
c

99

In [118]:
a = input("this is my a\n")

this is my a
645

In [119]:
a

'645'

In [137]:
a = int(input("this is my var a "))
b = int(input("this is my var b "))
c = int(input("this is my var c "))
o = a+b/c
o1 = o + 78 + 6j
str(o1) + "sudh"

this is my var a 45
this is my var b 56
this is my var c 34

In [138]:
a,b,c

(45, 56, 34)

In [139]:
o = a+b/c
o

46.64705882352941

In [140]:
o1 = o + 78 + 6j

In [141]:
o1

(124.64705882352942+6j)

In [142]:
type(o1)

complex

In [143]:
o1 + "srk" #its a heterogeneous data type

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [144]:
str(o1)+"srk"

'(124.64705882352942+6j)srk'

In [145]:
a = int(input("input a number lesser then 34 -- "))

input a number lesser then 34 -- 56

In [7]:
a = int(input("input a number"))
if a < 34 :
    print("data input lesthan from 34 i am satisfy ")
        
else :
    print("data greathan so i am not satisfy")

input a number56
data greathan so i am not satisfy

In [8]:
if a <34 :
    pass

In [12]:
a = int(input("input a number"))
if a < 34 :
    print("data input lesthan from 34 i am satisfy ")
elif a< 100 :
    print("my data less than 100")
    
else :
    print("data greathan so i am not satisfy")

input a number500
data greathan so i am not satisfy

In [15]:
salary = int(input("input a salary"))
if salary > 1000000:
    print ("i buy a home")
elif salary >500000:
    print("i buy a car")
elif salary > 100000:
    print("i buy a bike")

input a salary5000
i buy a car

In [30]:
salary = int(input("input a salary")) # code start line wise line
if salary > 1000:
    print ("i buy a home")
    print("srk home")
elif salary >500:
    print("i buy a car")
elif salary > 100:
    print("i buy a bike")
else:
    print("i am go for saving")

input a salary5000000000
i buy a home
srk home

In [31]:
salary = int(input("input a salary")) # code start line wise line
if salary > 1000:
    print ("i buy a home")
    print("srk")
    if salary >50000 :
        print("i buy a santro ")
    elif salary >100000:
        print(" ibuy a farari")
    else:
        print("i am not like")
elif salary >500:
    print("i buy a car")
elif salary > 100:
    print("i buy a bike")
else:
    print("i am go for saving")

input a salary100000000
i buy a home
srk
i buy a santro

In [ ]:
salary = int(input("input a salary")) # code start, line wise line
if salary > 1000:
    print ("i buy a home")           # multiple hararkey
    print("srk")
    if salary >5000 :
        print("i buy a santro ")
        if True:
            print("false code") # not work because of execute line wise
    elif salary >10000:
        print(" i buy a farari") # not work because of execute line wise
    else:
        print("i am not like")
elif salary >500:
    print("i buy a car")
elif salary > 100:
    print("i buy a bike")
else:
    print("i am go for saving")

In [9]:
salary = int(input("input a salary")) # code start, line wise line
if salary > 1000:
    print ("i buy a home")           # multiple hararkey
    print("srk")
    if salary <600 :
        print("i buy a santro ")
        if True:
            print("false code") # not work because of execute line wise
    elif salary >700:
        print(" i buy a farari") # not work because of execute line wise
    else:
        print("i am not like")
elif salary >500:
    print("i buy a car")
elif salary > 100:
    print("i buy a bike")
else:
    print("i am go for saving")

input a salary1100
i buy a home
srk
 i buy a farari

In [11]:
salary > 110

True

In [16]:
salary = int(input("input a salary")) # code start, line wise line
if salary > 1000:
    print ("i buy a home")           # multiple hararkey
    print("srk")
    if salary >6000 :
        print("i buy a santro ")
        if True:
            print("false code") # not work because of execute line wise
    if salary >7000:
        print(" i buy a farari")
    if salary> 50000:
        print("i am cool")# not work because of execute line wise
    else:
        print("i am not like")
elif salary >500:
    print("i buy a car")
elif salary > 100:
    print("i buy a bike")
else:
    print("i am go for saving")

input a salary60000
i buy a home
srk
i buy a santro
false code
 i buy a farari
i am cool

In [17]:
a = 56.65
b = 45.89
print(id(a))
print(id(b))

1965035541776
1965035542192

In [ ]:
void test(int i , float j ){
    
}

In [ ]:
name = "sudh"
test = "dfsfsf"

In [ ]:
def test(name = str  , test = int):
    name = "fsfds"
    test= "fsdfs"
    print(name, test)

In [ ]:
test()

In [ ]:
def test1(name , id1):
    
    print(test(),name , id1)

In [ ]:
test1("Sds","ds")

In [ ]:
def test():
        return "dasas"

In [3]:
print("""jgyhug
hvghyhu
jhgh
kjbhjg
kjhggy
jkbhjgg
jbhgfyf
\nbvhh
""")

jgyhug
hvghyhu
jhgh
kjbhjg
kjhggy
jkbhjgg
jbhgfyf

bvhh

In [5]:
#multi line comment
"""jhg #multi line comment
hfg
kjluhg
jhghg
ghcfrdr
"""

'jhg #multi line comment\nhfg\nkjluhg\njhghg\nghcfrdr\n'

# second lacture condition and loop

In [27]:
a = 10
b= 20
if a==10 or b >20 :
    print("this is a valid statement")
elif a==10 and b <=20 :
    print("this is valid inside elif")
else:
    print("condition is not valid")

this is a valid statement

In [ ]:
task:
    take a input from your keybord as your first name and last name and then to try validate of write a multiple condition by yourself

In [19]:
a==10 and b >20

False

In [20]:
a==20 , b== 10

(False, False)

In [21]:
a>=10 and b==20

True

In [22]:
a== 10 , b==20

(True, True)

task:
    take a input from your keybord as your first name and last name and then to try validate of write a multiple condition by yourself
    i = input ("enter your name")
    if i = "hjhg":
        print("correct")
    elif i=hj:
        print("full name plz")
    else:
        print("you are not the user")

In [1]:
a = input("Enter your first name")
b= input("Enter your last name")

if a == "shahrukh" or b == "khan":
    print("you are correct")
elif a=="khan" and b =="shahrukh" :
    print("this is not true")
elif a== "Sha" and b== "kh":
    print("full name plz not use short")
else:
    print("correct name buddy")

Enter your first nameSh
Enter your last namek
correct name buddy

# while loop

In [3]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed < final_speed:
    print("this is my sped")
    count = count +1
    if count == 10 :
        break

this is my sped
this is my sped
this is my sped
this is my sped
this is my sped
this is my sped
this is my sped
this is my sped
this is my sped

In [7]:
a = int(input("given the value"))  # while condition checking the file true or not
b = int(input("given second value"))
count = 1
while a<b:
    print(" this is a good bro")    
    count = count +1
    if count ==5:
        break

given the value50
given second value60
 this is a good bro
 this is a good bro
 this is a good bro
 this is a good bro

In [1]:
i = 1
j = 10
while i < j :
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9

# working with loop

In [2]:
a = 5
i = 1
while i < a:
    print(i)
    i += 1
else:
    print("this is not show")

1
2
3
4
this is not show

In [8]:
s = 3
i = 1
j = 1

while i<s:
    print(i)
    i += 1
else:
   
    
    while j<2:
        print(j)
        j = j+1
    print("not available")

1
2
1
not available

In [9]:
notes = 5 
i = 1 
j = 1
while i < notes:
    print(i)
    i += 1
else :
    
    while j < 2 :
        print(i)
        j = j + 1 
    print("no 10 rs notes are available ")

1
2
3
4
5
no 10 rs notes are available

In [25]:
s = "my name is shahrukh khan"

In [26]:
s[0]

'm'

In [27]:
s[3]

'n'

In [28]:
s[3:10]

'name is'

In [29]:
s[10:3]

''

In [30]:
s[10:3:-1]

' si ema'

In [31]:
s[2:-6]

' name is shahruk'

In [32]:
s[2:10:2]

' aei'

In [35]:
for i in s:
    print(i)
    if i == "s":
        print("i knew it")

m
y

n
a
m
e

i
s
i knew it

s
i knew it
h
a
h
r
u
k
h

k
h
a
n

In [37]:
s = "my name is shahrukh khan"

In [48]:
for i in s:
    if i == "n":
     #   break
        continue
    print(i)
else:
    if i == "n": # last name
        print("ok bro")
    print("this is your name is good")

m
y

a
m
e

i
s

s
h
a
h
r
u
k
h

k
h
a
ok bro
this is your name is good

In [3]:
s = "shahrukh khan"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]

In [2]:
ss

'shahrukh kha'

In [12]:
for i in s :
    if i == 's':
        print(" i got s as a string ")
    print(i)

 i got s as a string
s
h
a
h
r
u
k
h

k
h
a
n

In [13]:
for i in s :
    if i == "n":
        continue 
    print(i)
else :
    if i == 'u':
        print("last char was u ")
    print("this is a else condtion ")

s
h
a
h
r
u
k
h

k
h
a
this is a else condtion

In [14]:
n = 7 
for i in range(0 ,n):
    for j in range(0 ,i +1):
        print("+ " , end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [21]:
n = 10
for i in range (0 ,n):
    for j in range (0, i + 1):
        print(" @#%  " , end = "")
    print("\r")

 @#%
 @#%   @#%
 @#%   @#%   @#%
 @#%   @#%   @#%   @#%
 @#%   @#%   @#%   @#%   @#%
 @#%   @#%   @#%   @#%   @#%   @#%
 @#%   @#%   @#%   @#%   @#%   @#%   @#%
 @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%
 @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%
 @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%

In [27]:
n = 10
for i in range (7 ,n):
    for j in range (0, i + 1):
        print(" @#%  " , end = "")
    print("\r")

 @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%
 @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%
 @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%   @#%

In [28]:
def pattern(n):
      k = 2*n -2
      for i in range(n,-1,-1):
           for j in range(k,0,-1):
                print(end=" ")
           k = k +1
           for j in range(0, i+1):
                print("*", end=" ")
           print("\r")
 
pattern(5)

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [29]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1

In [30]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

Enter number of rows required: 7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [31]:
for i in range(8, 0, -1):
    print(i)

8
7
6
5
4
3
2
1

In [32]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [33]:
" "*5

'     '

In [34]:
n =9
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [35]:
i=1
k=1 #for printing starts with the increament of 2

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()
    
    k=k+2
    
    i=i+1

    *
   ***
  *****
 *******
*********

In [36]:
userInput = int(input("Please enter the amount of rows: "))

row = 0
while(row < userInput):
    row += 1
    spaces = userInput - row

    spaces_counter = 0
    while(spaces_counter < spaces):
        print(" ", end='')
        spaces_counter += 1

    num_stars = 2*row-1
    while(num_stars > 0):
        print("*", end='')
        num_stars -= 1

    print()
print("**iNeuron-FSDS**")

Please enter the amount of rows: 10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
**iNeuron-FSDS**

In [37]:
l = list()

In [38]:
name = "sudh"
phno = 543535345
addr = "sdfsff"

name , phno , addr = "sudh " , 54353453,"fgfd"

In [39]:
l = ["sudh" , 34535,"sfsfsafa", True, 45+8j , [3,5,6,"dfg"],6.787]

len(l)

7

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
for  i in range(4,10):
    print(i)

In [ ]:
l[80 :3:1]

In [ ]:
for i in l :
    if type(i) == list:
        n = 0
        for  j in i :
            if type(j) == int :
                n = n + j
        print(n)
                
        print(type(j))

In [ ]:
type(l)

In [ ]:
l1 = []
type(l1)

In [ ]:
l2 = list()
type(l2)

In [ ]:
type(l1)

# new lacture working string and list

In [2]:
c = 'this is my first class for full stack data science  that"s why i have joined this class '

In [3]:
c = "this is my first class for full stack data science  that's why i have joined this class "

In [4]:
c = "this is my first class for full stack data science  that"s why i have joined this class "

SyntaxError: invalid syntax (Temp/ipykernel_20380/687474190.py, line 1)

In [5]:
c = 'this is my first class for full stack data science  that's why i have joined this class '

SyntaxError: invalid syntax (Temp/ipykernel_20380/2623129364.py, line 1)

In [10]:
s = "this is full stack class "

In [11]:
s[0]

't'

In [12]:
s[2]

'i'

In [13]:
s[-1]

' '

In [16]:
len(s)

25

In [17]:
s[4:10]

' is fu'

In [20]:
s = "this is full stack class "

In [21]:
s[1:20]

'his is full stack c'

In [22]:
s[1:3:10]

'h'

In [23]:
s = "abcdef"

In [24]:
s[1:3]

'bc'

In [26]:
s[2:4] # 4 means less 1 number count means 123

'cd'

In [28]:
s[1:3:2]

'b'

In [29]:
s = "this is full stack class "

In [30]:
for i in s:
    print(i)

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [37]:
for i in range(len(s)) :
    print(s[i])

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [38]:
for i in range(len(s)):
    print(s[i])

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [39]:
s[-1:-10:-1]

' ssalc kc'

In [40]:
s[-1]

' '

In [41]:
len(s)

25

In [42]:
s[::-1]

' ssalc kcats lluf si siht'

In [43]:
s

'this is full stack class '

In [44]:
s[::-2]

' sl ct lfs it'

In [ ]:
s = "this is full stack class "

In [46]:
s #immutable object item not allow in string

'this is full stack class '

In [47]:
s[0] = "x"

TypeError: 'str' object does not support item assignment

In [58]:
l = ["sdfs",234,345.45,True] # list is a mmutable items replace one data to other data allow in the list

In [59]:
l[0]

'sdfs'

In [60]:
l[0] = "sudh"

In [61]:
l

['sudh', 234, 345.45, True]

In [62]:
"sudh"  + " kumar "

'sudh kumar '

In [63]:
"sudh" + str(3)

'sudh3'

In [64]:
"sudh" + ["kumar" , 3,4,56]

TypeError: can only concatenate str (not "list") to str

In [65]:
"sudh " * 6

'sudh sudh sudh sudh sudh sudh '

In [66]:
s = "my name is sudhanshu kumar , Name of org is ineuron"

In [67]:
s

'my name is sudhanshu kumar , Name of org is ineuron'

In [68]:
s.find("Name")

29

In [70]:
 s = "bbhjhhj"

In [71]:
s.find("abc") # not available so given -1

-1

In [72]:
 s = "my name is sudhanshu kumar , Name of org is ineuron"

In [73]:
s.find("name")                                  # 0,1,2,3

3

In [76]:
b = s.find("name")
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [77]:
# "m" = string
#"my"= substring

In [78]:
 s = "my name is sudhanshu kumar , Name of org is ineuron"

In [81]:
s.count("is") # show sub string

2

In [82]:
s.split() # giving list seprator by white space

['my',
 'name',
 'is',
 'sudhanshu',
 'kumar',
 ',',
 'Name',
 'of',
 'org',
 'is',
 'ineuron']

In [83]:
s.split(",")

['my name is sudhanshu kumar ', ' Name of org is ineuron']

In [84]:
s.split("n")

['my ', 'ame is sudha', 'shu kumar , Name of org is i', 'euro', '']

In [85]:
type(s.split('na'))

list

In [89]:
 s = "my name is sudhanshu kumar , Name of org is ineuron"

In [90]:
s.upper()

'MY NAME IS SUDHANSHU KUMAR , NAME OF ORG IS INEURON'

In [91]:
s.lower()

'my name is sudhanshu kumar , name of org is ineuron'

In [92]:
s.swapcase()

'MY NAME IS SUDHANSHU KUMAR , nAME OF ORG IS INEURON'

In [94]:
" ".join(s)

'm y   n a m e   i s   s u d h a n s h u   k u m a r   ,   N a m e   o f   o r g   i s   i n e u r o n'

In [95]:
"mm ".join(s)

'mmm ymm  mm nmm amm mmm emm  mm imm smm  mm smm umm dmm hmm amm nmm smm hmm umm  mm kmm umm mmm amm rmm  mm ,mm  mm Nmm amm mmm emm  mm omm fmm  mm omm rmm gmm  mm imm smm  mm imm nmm emm umm rmm omm n'

In [97]:
reversed(s)

In [98]:
s[::-1]

'norueni si gro fo emaN , ramuk uhsnahdus si eman ym'

In [103]:
s[::2]

'm aei uhnh ua  aeo r siern'

In [106]:
list(reversed(s))

['n',
 'o',
 'r',
 'u',
 'e',
 'n',
 'i',
 ' ',
 's',
 'i',
 ' ',
 'g',
 'r',
 'o',
 ' ',
 'f',
 'o',
 ' ',
 'e',
 'm',
 'a',
 'N',
 ' ',
 ',',
 ' ',
 'r',
 'a',
 'm',
 'u',
 'k',
 ' ',
 'u',
 'h',
 's',
 'n',
 'a',
 'h',
 'd',
 'u',
 's',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'm']

In [110]:
for i in reversed(s):
    print(i)

n
o
r
u
e
n
i

s
i

g
r
o

f
o

e
m
a
N

,

r
a
m
u
k

u
h
s
n
a
h
d
u
s

s
i

e
m
a
n

y
m

In [111]:
s = "       su  dh "

In [112]:
s

'       su  dh '

In [113]:
s.strip() # remove before and after space means both side

'su  dh'

In [114]:
s.lstrip() # laft hand side remove

'su  dh '

In [115]:
s.rstrip() #right hand side remove

'       su  dh'

In [5]:
s = ("greeting from ineuron")

In [6]:
s.replace("f", "b")

'greeting brom ineuron'

In [7]:
s = s.replace("from", "to")

In [8]:
s=s.replace("f", "b")

In [9]:
s

'greeting to ineuron'

In [10]:
s = "sudh"

In [11]:
s.center(23 , '@')

'@@@@@@@@@@sudh@@@@@@@@@'

In [12]:
s.center(23 , '@@') # not use two corrector in which

TypeError: The fill character must be exactly one character long

In [13]:
s = "sudh\tku\tmar"

In [14]:
s

'sudh\tku\tmar'

In [15]:
s.expandtabs()

'sudh    ku      mar'

In [23]:
a="We all are a part of Full Stack"
a = a.lower()
b = a.count("a")
print("the number is :" +str(b))
for i in range(len(a)):
    if a[i] == "a":
        print(i)
c = a.replace("a" , "ineuron") 
print(c.split())

the number is :5
3
7
11
14
28
['we', 'ineuronll', 'ineuronre', 'ineuron', 'pineuronrt', 'of', 'full', 'stineuronck']

In [3]:
a="We all are a part of Full Stack"
b=a.lower()
b

'we all are a part of full stack'

In [4]:
b = a.lower()
b

'we all are a part of full stack'

In [8]:
c= a.count("l")
c

4

In [25]:
c=a.count("a")
c

5

In [11]:
for i in range(len(a)):
    if(a[i]=="a"):
        print(i)

3
7
11
14
28

In [26]:
for i in range(len(a)):
    if(a[i]=="a"):
        print(i)

3
7
11
14
28

In [27]:
d=a.replace("a","iNeuron")
d

'We iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck'

In [28]:
e=a.split()
print(e)

['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [29]:
a="We all are a part of Full Stack"
b=a.lower()
print(b)
c=a.count("a")
print("The count of a is ",c)
for i in range(len(a)):
    if(a[i]=="a"):
        print(i)
d=a.replace("a","iNeuron")
print(d)
e=a.split()
print(e)

we all are a part of full stack
The count of a is  5
3
7
11
14
28
We iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck
['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [30]:
a = "We are all part of Full Stack"

# 1. Normalizing entire string in lower case
print(a.lower())
# 2. Finding number of occurances of a in entire string
print(len([i for i in range(len(a)) if a[i] == 'a']))
# 3. Indexes where a is present 
print([i for i in range(len(a)) if a[i] == 'a'])  
# 4 . replace all a's with ineuron
print(a.replace('a','Ineuron'))
#5. print all the words as a list
print([i for i in a.split() ])

we are all part of full stack
4
[3, 7, 12, 26]
We Ineuronre Ineuronll pIneuronrt of Full StIneuronck
['We', 'are', 'all', 'part', 'of', 'Full', 'Stack']

In [31]:
a='We are Part of Full Stack'
b=a.lower()
print('lower :',b)
c=a.count('a')
print('Count of a :',c)
for i in range(1,25):
    if a[i]== 'a':
        print(i)
str=a.replace('a','iNeuron')
print('Replace a with iNeuron :',str)

lower : we are part of full stack
Count of a : 3
3
8
22
Replace a with iNeuron : We iNeuronre PiNeuronrt of Full StiNeuronck

In [32]:
a="we all are a part of Full Stack"
a=a.lower()
c=a.count("a")
print("count of a=",c)

count of a= 5

In [33]:
a="we all are a part of Full Stack"
a=a.lower()
c=a.count("a")
print("count of a=",c)
l=[]
for e in range(len(a)):
    if a[e]=="a":
        l.append(e)
print("all indexes of 'a':",l)

count of a= 5
all indexes of 'a': [3, 7, 11, 14, 28]

In [34]:
a=a.replace("a","iNeuron")    
a.split()

['we',
 'iNeuronll',
 'iNeuronre',
 'iNeuron',
 'piNeuronrt',
 'of',
 'full',
 'stiNeuronck']

In [12]:
s = "SHAHRUKH"

In [13]:
s.isupper() # give me bolean value

True

In [14]:
s = "shahrukh"

In [15]:
s.islower()

True

In [16]:
s.isupper()

False

In [17]:
s.isspace()

False

In [18]:
s.isdigit()

False

In [19]:
s.endswith("h")

True

In [20]:
s.startswith("s")

True

In [25]:
s = "shh146"

In [26]:
s.isalnum()

True

In [34]:
s = "bhbh235"

In [35]:
s.isalpha()

False

In [37]:
s = "Shah" # start part is to be greaterthan

In [38]:
s.istitle()

True

In [43]:
s = "this is a full stack batch"

In [45]:
len(s)

26

In [40]:
count = 0 
for i in  s :
    count = count +1 
print(count)

26

In [50]:
for i in range(1,len(s)) :
    print(s[-i])

h
c
t
a
b

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h

In [51]:
s = "sudh"
ch = len(s) -1
while ch >= 0 :
    print(s[ch])
    ch = ch -1

h
d
u
s

In [55]:
s = "shahrukh"
a = len(s) -1
while a >= 0:
    print(s[a])
    a = a-1

h
k
u
r
h
a
h
s

In [56]:
s = "shahrukh"
a = len(s) -8
while a >= 0:
    print(s[a])
    a = a+1

s
h
a
h
r
u
k
h

IndexError: string index out of range

In [57]:
name = "ineruon"
vowels = "AaEeIiOoUu"

for i in name :
    if i in vowels:
        print("{} is a vowel".format(i))
    else :
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
r is not a vowel
u is a vowel
o is a vowel
n is not a vowel

In [58]:
" {} name is sudh".format("my")

' my name is sudh'

In [61]:
a = input()
b = input()

5
9

In [62]:
"{} name {} sudh {} ".format,(a, b, "Fsdfsfs") # it will try to provide and it will try to pass a data in run time to a system

(<function str.format>, ('5', '9', 'Fsdfsfs'))

In [63]:
#pelindrom is kind of data and kind of string if you try to  forword direction and backword direction so it will be same

In [64]:
a = "xyx"
b = 2002
c = "eye"
d = "nitin"

In [65]:
s = input("enter a data for which you would like to check pelindrom " )
s1 = s[::-1]
if s ==s1:
    print("its a same ")
else :
    print("its not a same ")

enter a data for which you would like to check pelindrom eye
its a same

In [ ]:
s = input("let me bro type some data and that data are check by polindr0m")
s1 = s[::-1]
if s== s1:
    print("your are correct")
else:
    print("you are not correct")

In [1]:
list =[1,2,3,4]
list[4:2:-1]

[4]

In [3]:
list =[1,2,3,4]
list[4:3:-1]

[]

# list manipulation

In [2]:
l = [1,2,3,54,"srk",True,"12312nbdj"]

In [3]:
for i in l:
    print(i)

1
2
3
54
srk
True
12312nbdj

In [3]:
l[::-1]

['12312nbdj', True, 'srk', 54, 3, 2, 1]

In [16]:
l  = ["sudh" , 234,45.56, [45,56,6,"c"] , True]

In [17]:
l1 = [1,2,3,54,"srk",True,[1,2,3,12,"nbdj"]]

In [18]:
for i in l :
    if type(i)== list :
        print("this is a list " ,i)
    else :
        print("no element is not a list ", i)

no element is not a list  sudh
no element is not a list  234
no element is not a list  45.56
this is a list  [45, 56, 6, 'c']
no element is not a list  True

In [19]:
for i in l :
    if type(i)==list:
        print("this is a list", i)
    else:
        print("this is not a list", i)

this is not a list sudh
this is not a list 234
this is not a list 45.56
this is a list [45, 56, 6, 'c']
this is not a list True

In [20]:
l+l1

['sudh',
 234,
 45.56,
 [45, 56, 6, 'c'],
 True,
 1,
 2,
 3,
 54,
 'srk',
 True,
 [1, 2, 3, 12, 'nbdj']]

In [22]:
len(l1)

7

In [24]:
234 in l

True

In [25]:
print(max([2,3,4,5,45.56]))

45.56

In [26]:
print(max([1,2,3,4,5,6,8]))

8

In [29]:
print(max([1,2,3,4,5,"srk"])) # not given int with string

TypeError: '>' not supported between instances of 'str' and 'int'

In [30]:
max([1,34,67,90])

90

In [31]:
min([2,4,67,89,0])

0

In [32]:
max(["sdfs","sdfs" , 234])

TypeError: '>' not supported between instances of 'int' and 'str'

In [33]:
max(["sudh" , "ineruon" , "AI","z"])

'z'

In [34]:
min(["fsdfa3434","fsd","fsdfaaaaaaaaa","a" , "A"])

'A'

In [35]:
min("34345",234,234.345,"344")

TypeError: '<' not supported between instances of 'int' and 'str'

In [38]:
l = [1,2,3,4]

In [39]:
l.append([1,2,3,4,5,5])

In [40]:
l

[1, 2, 3, 4, [1, 2, 3, 4, 5, 5]]

In [44]:
l.append("srk","khan")

TypeError: list.append() takes exactly one argument (2 given)

In [46]:
l.append("srk")

In [47]:
l

[1, 2, 3, 4, [1, 2, 3, 4, 5, 5], 'srk', 'srk']

In [50]:
l.insert(3,"srk") #in third position put srk 0,1,2,3,4,5
                   #                         1,2,3,"srk",4

In [51]:
l

[1, 2, 3, 'srk', 4, [1, 2, 3, 4, 5, 5], 'srk', 'srk']

In [52]:
l.insert(-1,"shahrukh")

In [53]:
l                     # srk shifted an shahrukh put over the -1 position

[1, 2, 3, 'srk', 4, [1, 2, 3, 4, 5, 5], 'srk', 'shahrukh', 'srk']

In [54]:
l.extend("shahrukh")

In [57]:
l # only iterable object allow not any int

[1,
 2,
 3,
 'srk',
 4,
 [1, 2, 3, 4, 5, 5],
 'srk',
 'shahrukh',
 'srk',
 's',
 'h',
 'a',
 'h',
 'r',
 'u',
 'k',
 'h']

In [58]:
l.extend(45)

TypeError: 'int' object is not iterable

In [59]:
l.extend([45])

In [60]:
l

[1,
 2,
 3,
 'srk',
 4,
 [1, 2, 3, 4, 5, 5],
 'srk',
 'shahrukh',
 'srk',
 's',
 'h',
 'a',
 'h',
 'r',
 'u',
 'k',
 'h',
 45]

In [66]:
l = [1, 2, 3, 4, [1, 2, 3, 4, 5, 5], 'srk', 'srk']

In [67]:
l.index(4)

3

In [68]:
l = {1,2,3,4,5}

In [70]:
l.pop() # pop delting the data based on index

1

In [71]:
l

{2, 3, 4, 5}

In [72]:
l.remove(4) # remove first ocrances maching the data

In [73]:
l

{2, 3, 5}

In [74]:
l = [1,3,7,4,5,9,2]

In [75]:
l.sort()

In [76]:
l

[1, 2, 3, 4, 5, 7, 9]

In [1]:
l = [[1,2,3,4],[5,6,7,"hello",8],[8,7,66],2,6]
l.append([2,3,4])
l.append(8+6j)
l.append([5,6,7])
for i in l:

  if type(i) == list:
    for j,v in enumerate(i):
      
      if type(v) == str:
        print("index of string: ",j)
        i[j]="hi"
    print(i[1])
print(l)

2
index of string:  3
6
7
3
6
[[1, 2, 3, 4], [5, 6, 7, 'hi', 8], [8, 7, 66], 2, 6, [2, 3, 4], (8+6j), [5, 6, 7]]

In [2]:
l=[[1,2,3],[4,5,6],[7,8,9,'xyz','xyz','xyz'],10, 'vishal', True]
# part1
l.insert(2,[11,12])
l.insert(-1,[13,14])
l.append(12+3j)

In [3]:
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print(l.index(i))

3
3
3

In [4]:
l

[[1, 2, 3],
 [4, 5, 6],
 [11, 12],
 [7, 8, 9, 'xyz', 'xyz', 'xyz'],
 10,
 'vishal',
 [13, 14],
 True,
 (12+3j)]

In [5]:
l=[[1,2,3],[4,5,6],[7,8,9,'xyz'],10, 'vishal', True]
# part1
l.insert(2,[11,12])
l.insert(-1,[13,14])
l.append(12+3j)
print(l)
# part2
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print(l.index(i))
#part3
for i in l:
    if type(i)==list:
        print(i.pop(2))

[[1, 2, 3], [4, 5, 6], [11, 12], [7, 8, 9, 'xyz'], 10, 'vishal', [13, 14], True, (12+3j)]
3
3
6

IndexError: pop index out of range

In [6]:
l = [[23,45],[6,7,'78S'],'ABC','REV']

#Q1

l.insert(2,['sdf','sdf'])
print(l)
l.insert(3,[11,12])
print(l)
l.insert(1,(2+3j))
print('After complex number- ',l)
l

[[23, 45], [6, 7, '78S'], ['sdf', 'sdf'], 'ABC', 'REV']
[[23, 45], [6, 7, '78S'], ['sdf', 'sdf'], [11, 12], 'ABC', 'REV']
After complex number-  [[23, 45], (2+3j), [6, 7, '78S'], ['sdf', 'sdf'], [11, 12], 'ABC', 'REV']

[[23, 45], (2+3j), [6, 7, '78S'], ['sdf', 'sdf'], [11, 12], 'ABC', 'REV']

In [7]:
#Q2
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print('Found String in Neasted List at index={} : {}'.format(i,j))
                print('Removed',j)
                i.remove(j)

print('List after remove ',l)

Found String in Neasted List at index=[6, 7, '78S'] : 78S
Removed 78S
Found String in Neasted List at index=['sdf', 'sdf'] : sdf
Removed sdf
List after remove  [[23, 45], (2+3j), [6, 7], ['sdf'], [11, 12], 'ABC', 'REV']

In [8]:
l=[[1,'2'],[10,11],[20,21],'3',4,5]
c=[1+2j,3+5j]

# question 1
l.insert(1,c)
print(f'Updated list: {l}')

print()
print()

Updated list: [[1, '2'], [(1+2j), (3+5j)], [10, 11], [20, 21], '3', 4, 5]

In [9]:
l=[[1,'2'],[10,11],[20,21],'3',4,5]
c=[1+2j,3+5j]

# question 1
l.insert(1,c)
print(f'Updated list: {l}')

print()
print()

# question 2
for i in l:
    if type(i)==str:
        print(f'String exist is {i}')
        a=l.index(i)
        print(f'Its position is: {a}')
print()
l.remove('3')
print(f'After removing {a} the new list is:\n {l}')

print()
print()

# question 3
print('The every second elemnt is:')
for i in l:
    if type(i)==list:
        
        print(i[1])

Updated list: [[1, '2'], [(1+2j), (3+5j)], [10, 11], [20, 21], '3', 4, 5]


String exist is 3
Its position is: 4

After removing 4 the new list is:
 [[1, '2'], [(1+2j), (3+5j)], [10, 11], [20, 21], 4, 5]


The every second elemnt is:
2
(3+5j)
11
21

In [10]:
l = [[23,45],[6,7,'78S'],'ABC','REV']

#Q1

l.insert(2,['sdf','sdf'])
print(l)
l.insert(3,[11,12])
print(l)
l.insert(1,(2+3j))
print('After complex number- ',l)

#Q2
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print('Found String in Neasted List at index={} : {}'.format(i,j))
                print('Removed',j)
                i.remove(j)

print('List after remove ',l)

#Q3
k=1
for i in l:
    if type(i) == list and len(i) >=2:
        print('Neasted List ',k)
        print('2nd element of it is=',i[1])
        k+=1

[[23, 45], [6, 7, '78S'], ['sdf', 'sdf'], 'ABC', 'REV']
[[23, 45], [6, 7, '78S'], ['sdf', 'sdf'], [11, 12], 'ABC', 'REV']
After complex number-  [[23, 45], (2+3j), [6, 7, '78S'], ['sdf', 'sdf'], [11, 12], 'ABC', 'REV']
Found String in Neasted List at index=[6, 7, '78S'] : 78S
Removed 78S
Found String in Neasted List at index=['sdf', 'sdf'] : sdf
Removed sdf
List after remove  [[23, 45], (2+3j), [6, 7], ['sdf'], [11, 12], 'ABC', 'REV']
Neasted List  1
2nd element of it is= 45
Neasted List  2
2nd element of it is= 7
Neasted List  3
2nd element of it is= 12

In [11]:
l = [[1,'a'],[3,4],[5,'b'],1,3,4,5,6]
# Append 2 more list and 1 complex number in between
l.insert(3,6j)
l.insert(4,[7,8])
l.insert(5,[9,0])
print (l)
for i in l:
    if type(i) == list:
        for t in i:
            if type(t) == str:
                print(t)

[[1, 'a'], [3, 4], [5, 'b'], 6j, [7, 8], [9, 0], 1, 3, 4, 5, 6]
a
b

In [12]:
l1 = [[22,"mahendra",55,22.4],["dhoni",77,11,55,78.9],[77,88,99],2,5,8]

l1.insert(2,[2,5,6])
l1.insert(4,[99,"pravin",88,True])
l1.insert(-1,6+4j)
l1

[[22, 'mahendra', 55, 22.4],
 ['dhoni', 77, 11, 55, 78.9],
 [2, 5, 6],
 [77, 88, 99],
 [99, 'pravin', 88, True],
 2,
 5,
 (6+4j),
 8]

In [13]:
for i in l1:
    if type(i) == list :
        for j in i:
            if type(j) == str :
                print(i.index(j))
                i.remove(j)

1
0
1

In [14]:
l=[["gh",56],[89,"yhg"],["90",98],78,90.0]

In [15]:
for e in l:
    if type(e)==list:
        l.insert(l.index(e)+1,[78,90])
        l.insert(l.index(e)+2,[89,"90","90","90"])
        l.insert(l.index(e)+3,6+7j)
        break
print(l)

[['gh', 56], [78, 90], [89, '90', '90', '90'], (6+7j), [89, 'yhg'], ['90', 98], 78, 90.0]

In [16]:
for i in l:
    if type(i)==list:
        for e in i:
            if type(e)==str:
                print(f"index of string in nested list of index number {l.index(i)} is {i.index(e)}")
                i.remove(e)
print("new list",l)

index of string in nested list of index number 0 is 0
index of string in nested list of index number 2 is 1
index of string in nested list of index number 2 is 1
index of string in nested list of index number 4 is 1
index of string in nested list of index number 5 is 0
new list [[56], [78, 90], [89, '90'], (6+7j), [89], [98], 78, 90.0]

In [17]:
l=[["gh",56],[89,"yhg"],["90",98],78,90.0]
for e in l:
    if type(e)==list:
        l.insert(l.index(e)+1,[78,90])
        l.insert(l.index(e)+2,[89,"90"])
        l.insert(l.index(e)+3,6+7j)
        break
print(l)
for i in l:
    if type(i)==list:
        for e in i:
            if type(e)==str:
                print(f"index of string in nested list of index number {l.index(i)} is {i.index(e)}")
                i.remove(e)
print("new list",l)
for i in l:
    if type(i)==list:
        for e in i:
            if len(i)>1:
                i.pop(1)
print("final list",l)

[['gh', 56], [78, 90], [89, '90'], (6+7j), [89, 'yhg'], ['90', 98], 78, 90.0]
index of string in nested list of index number 0 is 0
index of string in nested list of index number 2 is 1
index of string in nested list of index number 4 is 1
index of string in nested list of index number 5 is 0
new list [[56], [78, 90], [89], (6+7j), [89], [98], 78, 90.0]
final list [[56], [78], [89], (6+7j), [89], [98], 78, 90.0]

In [18]:
l1 = [[22,"mahendra",55,22.4],["dhoni",77,11,55,78.9],[77,88,99],2,5,8]

l1.insert(2,[2,5,6])
l1.insert(4,[99,"pravin",88,True])
l1.insert(-1,6+4j)

print(l1)

for i in l1:
    if type(i) == list :
        for j in i:
            if type(j) == str :
                print(i.index(j))
                i.remove(j)


print(l1)

for i in l1 :
    if type(i) == list :
        print(i[2], end = ",")

[[22, 'mahendra', 55, 22.4], ['dhoni', 77, 11, 55, 78.9], [2, 5, 6], [77, 88, 99], [99, 'pravin', 88, True], 2, 5, (6+4j), 8]
1
0
1
[[22, 55, 22.4], [77, 11, 55, 78.9], [2, 5, 6], [77, 88, 99], [99, 88, True], 2, 5, (6+4j), 8]
22.4,55,6,99,True,

In [19]:
l = [[1,2,3],[4,5,6],[7,8,9],12,"Santosh"]
l.insert(2,[3,2,1,"test","test","test"])
l.insert(2,[6,5,4])
l.insert(0, 5 + 6j)
print("Q1")
print(l)

Q1
[(5+6j), [1, 2, 3], [4, 5, 6], [6, 5, 4], [3, 2, 1, 'test', 'test', 'test'], [7, 8, 9], 12, 'Santosh']

In [20]:
for i in range(len(l)):
    if type(l[i]) == list:
        for j in range(len(l[i])):
            if type(l[i][j]) == str:
                print(j)
                del l[i][j]
    if(type(l[i]) == str):
        print(j)
        del l[i]
print("Q2")
print(l)
print("Q3")
for i in range(len(l)):
    if type(l[i]) == list:
        print(l[i][1])

3
4

IndexError: list index out of range

In [21]:
l=[[4,5,"Sameer","Sameer","Sameer"],[346,7,3426,76],[34657,"Jadhav",74557,45,6],23095,'ineuron']
l.append([67,67])
l.append([55,55])
l.insert(3,3+6j)
l

[[4, 5, 'Sameer', 'Sameer', 'Sameer'],
 [346, 7, 3426, 76],
 [34657, 'Jadhav', 74557, 45, 6],
 (3+6j),
 23095,
 'ineuron',
 [67, 67],
 [55, 55]]

In [22]:
l=[[4,5,"Sameer","Sameer","Sameer"],[346,7,3426,76],[34657,"Jadhav",74557,45,6],23095,'ineuron']
l.append([67,67])
l.append([55,55])
l.insert(3,3+6j)
l

for i in l:
    if type(i)==list:
        for j in i:
            if type(j)== str:
                print (" got {} string at {} location".format(j,i))
                i.remove(j)
                print(i)

 got Sameer string at [4, 5, 'Sameer', 'Sameer', 'Sameer'] location
[4, 5, 'Sameer', 'Sameer']
 got Sameer string at [4, 5, 'Sameer', 'Sameer'] location
[4, 5, 'Sameer']
 got Jadhav string at [34657, 'Jadhav', 74557, 45, 6] location
[34657, 74557, 45, 6]

In [23]:
# This is 100% working 

l1 = [[1,2,3],[4,5,6],[7,8,9],'demo',12.5]
l2 = [11,12,'b','b','b']
l3 = [21,'t',223]
# 1)
l1.insert(1,l2)
l1.insert(2,l3)
print("Main List : ",l1)
# 2)

for i in l1:
    if type(i)== list:
        for j in i:
            if type(j) == str:
                print("Index : ",i.index(j))
                i.remove(j)
                
# 3) 
for i in l1:
    if type(i)== list:
        print("Second Element : ",i[1])

Main List :  [[1, 2, 3], [11, 12, 'b', 'b', 'b'], [21, 't', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]
Index :  2
Index :  2
Index :  1
Second Element :  2
Second Element :  12
Second Element :  223
Second Element :  5
Second Element :  8

In [24]:
l1

[[1, 2, 3], [11, 12, 'b'], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [25]:
l1 = [[1,2,3],[4,5,6],[7,8,9],'demo',12.5]
l2 = [11,12,'b','b','b']
l3 = [21,'t',223]
# 1)
l1.insert(1,l2)
l1.insert(2,l3)
l1

[[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [26]:
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [27]:
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]


for i in l:
    if type(i)==str:
        print("Ans 2: ",l.index(i))
        l.pop(l.index(i))
        print(l)
        print("string:",i)
#3

b = [el[1] for el in l]
print(b)

Ans 2:  5
[[1, 2, 3], [11, 12, 'b', 'b', 'b'], [21, 't', 223], [4, 5, 6], [7, 8, 9], 12.5]
string: demo

TypeError: 'float' object is not subscriptable

In [28]:
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

li=[]
for i,j in enumerate(l):
    if type(j) == list:
        for k,d in enumerate(j):
            if type(d) == str:
                print('index of string in the list is ',k)
                l[i][k] = 'ccc'
            if k == 1:
                li.append(j[k])
print(l)
li

index of string in the list is  2
index of string in the list is  3
index of string in the list is  4
index of string in the list is  1
[[1, 2, 3], [11, 12, 'ccc', 'ccc', 'ccc'], [21, 'ccc', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

[2, 12, 'ccc', 5, 8]

In [29]:
l = [[1, 2, 3],[11, 12, 'b', 'b', 'b'],[21, 't', 223],[4, 5, 6],[7, 8, 9],'demo',12.5]
for i in l:
    b=False
    if type(i) == list:
        a=False
        for j in i:
            if type(j)==str:
                i.remove(j)
                a=True
                break
        if a :
            print(l.index(i))
            l.remove(i)

1

In [30]:
l

[[1, 2, 3], [21, 't', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [31]:

l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223,44],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

#part 2
for sublist in l:
    if isinstance(sublist,list):
           for obj in sublist:
                if isinstance(obj,str):
                    print('Occurance found in sublist',sublist ,' at ',sublist.index(obj))
                    sublist.remove(obj)
                 
    print(sublist)

#part 3

for i in l:
    if type(i)== list:
        print(i[2])

[1, 2, 3]
Occurance found in sublist [11, 12, 'b', 'b', 'b']  at  2
Occurance found in sublist [11, 12, 'b', 'b']  at  2
[11, 12, 'b']
Occurance found in sublist [21, 't', 223, 44]  at  1
[21, 223, 44]
[4, 5, 6]
[7, 8, 9]
demo
12.5
3
b
44
6
9

In [32]:
l

[[1, 2, 3], [11, 12, 'b'], [21, 223, 44], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [33]:
l = []
for i in range(5):
    l.append(int(input()))
print(l)

65
54
654
54
55454
[65, 54, 654, 54, 55454]

In [34]:
input()

66

'66'

In [35]:
list(input())

656545

['6', '5', '6', '5', '4', '5']

In [36]:

#2. Find the index of string element in the nested list and remove the string
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

for i in l:
    if type(i) == list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j]),j)
            j = j +1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The string in the nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j = j +1
print("List after removal of string from nested list is\r",l,'\n')

Index of string b is : 2
Index of string b is : 3
Index of string b is : 4
The string in the nested list is 'b'
The string in the nested list is 'b'
The string in the nested list is 'b'
Index of string t is : 1
The string in the nested list is 't'
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [ ]:
l = [1,2,3,4,5]

In [ ]:
l1 = []

In [ ]:
for i in "sudh":
    l1.append(i)

In [37]:
l1

[[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [ ]:
[[i] for i in "sudh"] #compration opration

In [ ]:
l = []
for i in range(10) :
    if i%2 ==0:                   #% persentile
        l.append(i)

In [ ]:
l[i for i in range(10) if i %2 == 0 ]

In [ ]:
8%3

In [ ]:
8%2

In [ ]:
l = []
for i in range(10):
    if i % 2 != 0:
        l.append("odd")
    else :
        l.append("even")

In [ ]:
l

In [ ]:
["odd" if i%2 != 0 else "even" for i in range(10)]

In [ ]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

In [ ]:
[[j for j in range(3)]for i in range(3)]

In [ ]:
[i for i in range(8) if i % 2 == 0 if i % 3 == 0  ]

In [ ]:
l = []
for i in range(8):
    if i % 2 == 0 :
        if i % 3 == 0 :
            l.append(i)

In [ ]:
l

In [ ]:
l = []
for i in range(10):
    l.append(i)

In [ ]:
l

In [ ]:
["yes " if i == 1  else "no" if i == 2 else "test " for i in l]

In [ ]:
l

In [ ]:
res = []
for i in l :
    if i == 1 :
        res.append("yes")
    elif i ==2 :
        res.append("no")
    else :
        res.append("test")

In [ ]:
res

In [38]:
0%2

0

In [39]:
1%2

1

In [40]:
2%2          #see

0

In [41]:
3%2

1

In [42]:
4%2     #see

0

In [43]:
5%2

1

In [44]:
6%2  # see

0

In [45]:
7%2

1

In [ ]:
hetro genius not sort

# LIST and TUPLE dictionary

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
l = ()

In [5]:
type(l)

tuple

In [6]:
l = []

In [7]:
type(l)

list

In [8]:
t = (230,"srk","khan",555,True)

In [9]:
t[0]

230

In [10]:
l = [234,"srk","khan",555,True] # list is mutable entities

In [11]:
l[2]

'khan'

In [12]:
l[1] = "shahrukh"

In [13]:
l[1]

'shahrukh'

In [14]:
t[2] = "shahrukh" # tuple is immutable object

TypeError: 'tuple' object does not support item assignment

In [15]:
t2 = (241,554,896)

In [16]:
t+t2  # same location is not to be perform this kind of opration

(230, 'srk', 'khan', 555, True, 241, 554, 896)

In [17]:
t[0:4]

(230, 'srk', 'khan', 555)

In [19]:
t[::-1]

(True, 555, 'khan', 'srk', 230)

In [21]:
t[-1]

True

In [22]:
t*4

(230,
 'srk',
 'khan',
 555,
 True,
 230,
 'srk',
 'khan',
 555,
 True,
 230,
 'srk',
 'khan',
 555,
 True,
 230,
 'srk',
 'khan',
 555,
 True)

In [23]:
"srk" in t

True

In [24]:
t3 = (23,343,45,454,54)

In [27]:
t1 = (234,34,"sudh" , 3.45,True)

In [28]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [29]:
t3 = (23,343,45,454,54)

In [30]:
max(t3)

454

In [32]:
min(t3)

23

In [33]:
# tuple convert in list 
t6 = (56)

In [34]:
l5 = list(t)

In [35]:
l5.insert(3,t6)

In [36]:
l5

[230, 'srk', 'khan', 56, 555, True]

In [37]:
tuple(l5)

(230, 'srk', 'khan', 56, 555, True)

In [38]:
t = ((3,4,5,6,7) , ("sdfsd",45,45) , ("454",54) , 45,454,67 , [4,5,6,7,7])

In [40]:
t [6][1:4]

[5, 6, 7]

In [41]:
t[1][0]

'sdfsd'

In [42]:
for i in t:
    print(i)

(3, 4, 5, 6, 7)
('sdfsd', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [44]:
t1 = (234,34,"sudh" , 3.45,True)

In [45]:
t3 = (23,343,45,454,54)

In [46]:
if len(t1)==len(t2):
    print ("its same")
else:
    print("its not bsame")

its not bsame

In [47]:
if len(t1)==len(t2):
    print("its same ")
else :
    print("its not same")

its not same

In [51]:
t3 = (23,343,45,454,54)
i = int(input("input user number"))
if i in t3:
    print("you are right")
else:
    print("you are not right number")

input user number454
you are right

In [52]:
t5 = (23,343,45,454,54)

In [53]:
del(t5)

In [54]:
t5

NameError: name 't5' is not defined

# set

In [71]:
# set is a collection which will always try to hold a distinct element insided
l1 = [25,25,36,36,89,47,56,56,47,"srk","khan"]

In [72]:
 s = set(l1) # not show any repeat value

In [73]:
s

{25, 36, 47, 56, 89, 'khan', 'srk'}

In [74]:
for i in s:
    print(i)

36
khan
47
srk
56
89
25

In [75]:
34 in s

False

In [76]:
s[1]

TypeError: 'set' object is not subscriptable

In [77]:
s = set()
s

set()

In [78]:
s.add (45)

In [79]:
s

{45}

In [80]:
s

{45}

In [81]:
s.add("hjsdgf")